<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
</head>
<body>
  <h1><a href="#" onclick="checkPassword('Phylogenomics')">Phylogenomics</a></h1>
  <h1><a href="#" onclick="checkPassword('Transcriptome')">Transcriptome</a></h1>

  <script>
    function checkPassword(page) {
      var password = prompt("请输入密码以访问该链接:");
      var correctPassword = "yourpassword";  // 设置正确的密码

      if (password === correctPassword) {
        if (page === 'Phylogenomics') {
          window.open('../protocols/Phylogenomics.html', '_blank');
        } else if (page === 'Transcriptome') {
          window.open('../protocols/transcriptome.html', '_blank');
        }
      } else {
        alert("密码错误，请重试。");
      }
    }
  </script>
</body>
</html>
